Source: io.elementary.panel.network
Section: x11
Priority: optional
Maintainer: elementary <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gobject-introspection,
               libglib2.0-dev (>= 2.74),
               libgranite-7-dev,
               libgtk-4-dev (>= 3.22),
               libnma-gtk4-dev,
               libnm-dev (>= 1.24),
               libpolkit-gobject-1-dev,
               libwingpanel-9-dev,
               libxml2-utils,
               meson,
               valac (>= 0.28)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/panel-network

Package: io.elementary.panel.network
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Network Indicator
 WingPanel Network Indicator
