Source: wingpanel-indicator-network
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               gobject-introspection,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libnm-dev,
               libnma-dev,
               libwingpanel-2.0-dev,
               valac (>= 0.28)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel-indicator-network

Package: wingpanel-indicator-network
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Network Indicator
 WingPanel Network Indicator

Package: wingpanel-indicator-network-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel-indicator-network (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel-indicator-network
Description: WingPanel Network Indicator (debugging symbols)
 WingPanel Network Indicator
 .
 This package contains debugging symbols for wingpanel-indicator-network.
