/*
* SPDX-License-Identifier: GPL-2.0-or-later
* SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
*/

network .image-button.toggle {
    border-radius: 1em;
}

network .image-button {
    border: none;
    box-shadow: none;
    min-height: 2.1666rem; /* 26px */
    min-width: 2.1666rem; /* 26px */
}

network .image-button {
    background: alpha(@text_color, 0.1);
}

network .image-button:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

network .image-button:disabled {
    background: @insensitive_bg_color;
}
